.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 84px;
    background-color: #212121;
    color: white;
    align-items: center;
  }
  
  .header-left {
    max-width: 40%;
    text-align: start;
  }
  .header-image{
    height: 300px;
  width: 300px;
  }
  .header-left-inner{
    display: flex;
    gap: 20px;
  }
  .header-right {
    max-width: 50%;
  }
  
  .header-left h2 {
    color: #FFF;

    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .header-left p {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 300px;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 16px;
  }
  
  .shop-now-btn {
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 12px;
background: #9C9C9C;
  }
  

  
  .payment-logos {
    display: flex;
    margin-top: 20px;
  }
  
  .payment-logo {
    width: 50px;
    margin-right: 10px;
  }
  
  .header-right h3 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
  }
  
  .recommendations {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .recommendation-item {
    display: flex;
    justify-content: space-between;
gap: 20px;
  }
  
  .recommendation-logo {
    width: 184px;
    height: 150px;

  }
  