.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #212121;
    color: white;
    padding: 40px 186px;
    text-align: left;
    border-top: 1px solid #2c2c2c;
  }
  
 
  
  .footer-left {
    flex: 1;    
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  

  
  .logo-text {
    font-size: 18px;
    font-weight: bold;
  }
  
  .newsletter-section h4 {
    margin-bottom: 10px;
    color: #FFF;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.3px;
width:180px;
text-align: left;
margin-bottom: 30px;
margin-top: 0px;
  }
  
  .newsletter-input {
    display: flex;
    margin-bottom: 20px;
  }
  
  .newsletter-input input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: #212121;
    color: #fff;
    border-bottom: 1px solid grey;
  }
  
  .subscribe-btn {
    padding: 10px;
    background-color: #666;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .social-icons a {
    margin-right: 10px;
    color: white;
    font-size: 24px;
  }
  
  .footer-middle {
    display: flex;
    justify-content: space-between;
    flex: 2;
    margin: 20px 0;
  }
  
  .footer-links h4 {
    margin-bottom: 10px;
    margin-top: 0px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #f9d423;
  }
  
  .footer-right {
    flex: 1;
    text-align: right;
    display: flex;
  justify-content: end;
  gap: 30px;
  align-items: center;
  }
  
  .get-started-btn {
    padding: 10px 30px;
    background-color: #666;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    height: 40px;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 1px solid #2c2c2c;
    padding-top: 20px;
  }
  .footer-bottom p{
    margin: 0px;
  }
  .footer-terms a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  .footer-terms a:hover {
    color: #f9d423;
  }
  