.travel-topups-container {
    padding: 20px 120px;
    background-color: #181818;
    color: white;
  }
  
  .travel-topups-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .header-container21 {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
  }
  .header-container21 input{
    background: #9C9C9C;
    color:#fff;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
  }
  .travel-topups-header h2 {
    font-size: 24px;
  }
  
  .see-all-link {
    color: #bbb;
    text-decoration: none;
    font-size: 16px;
  }
  
  .topups-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .topup-card {
    background-color: #282828;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
  }
  
  .topup-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .topup-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .topup-title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .topup-rating {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .topup-price {
    font-size: 14px;
    color: #bbb;
  }
  .gift-buy-button{
    border: none;
    border-radius: 10px;
    background-color: #bbb;
    color:#fff;
    margin-top: 10px;
    padding: 5px 10px;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: #000;
}

.modal-content h3 {
    margin-bottom: 10px;
}

.modal-buttons button {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1001;
    animation: fadeout 6s forwards;
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}
